.container {
  margin: 0 auto;
  max-width: $large;
  width: 100%;
  padding: 0 98px;

  @media (min-width: $desktop) and (max-width: $large-breakpoint) {
    padding-left: 45px;
    padding-right: 45px;
    max-width: $large-breakpoint;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    padding-left: 45px;
    padding-right: 45px;
    max-width: $desktop-breakpoint;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: $table-breakpoint;
    min-width: $mobile;
  }
}
