.filter__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 29px;
}

.filter__form-section {
  border-top: 0.7px solid $border-color;
  padding: 30px 0;
}

.filter__form-section h3 {
  font-weight: 700;
  font-size: 18px;
}

.filter__title-price {
  margin: 0;
  margin-bottom: 24px;
}

.filter__title-type,
.filter__title-strings {
  margin: 0;
  margin-bottom: 20px;
}

.filter__rub {
  font-size: 15px;
}

.filter__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter__price-wrapper input {
  width: 84px;
  height: 28px;
  border: 0.7px solid $input-border-color;
  border-radius: 2px;
  background: none;
  display: flex;
  text-align: center;
  font-family: $main-font;
  color: $basic-black;
  letter-spacing: 0.05em;
  font-size: 14px;

  &::placeholder {
    font-family: $main-font;
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    overflow: visible;
  }
}

/* Chrome, Safari, Edge, Opera */

.filter__price-wrapper input::-webkit-outer-spin-button,
.filter__price-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.filter__price-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.filter__price-dash {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: -7px;
    width: 14px;
    height: 1px;
    background-color: $dark;
    display: inline-block;
  }
}

.filter__guitar-type-list,
.filter__guitar-strings-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter__guitar-type-item,
.filter__guitar-string-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  margin-bottom: 12px;
  min-height: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__label {
  padding-left: 40px;
  font-size: 16px;
  position: relative;
}

.filter__checkbox {
  position: absolute;
}

.filter__checkbox + .filter__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: $basic-white;
    border: 0.7px solid $input-border-color;
    border-radius: 2px;
    display: inline-block;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 10px;
    background-image: url("../../img/check-mark-icon.svg");
  }
}

.filter__checkbox:checked + .filter__label {
  &::after {
    display: block;
  }
}

.filter__checkbox:hover + .filter__label {
  &::before {
    border-color: $dark;
  }
}

.filter__checkbox:active + .filter__label {
  &::before {
    border-color: $grey;
  }
}

.filter__checkbox:focus + .filter__label::before {
  &::before {
    border-color: $grey;
  }

  &::after {
    display: none;
  }
  outline: 0.7px solid $grey;
}

.filter__checkbox:checked:focus + .filter__label::before {
  &::before {
    border-color: $grey;
  }

  &::after {
    display: block;
  }
  outline: 0.7px solid $grey;
}

.filter__checkbox:disabled + .filter__label::before {
  &::after {
    display: none;
  }
  background-color: $light-grey;
  border: 0.7px solid $light;
}

.filter__checkbox:disabled + .filter__label {
  color: $light;
}
