.footer {
  flex: 0 0 auto;
  background-color: $footer-background-color;
  min-height: 273px;
  margin-top: 131px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -84px;
    left: -20px;
    width: 868px;
    height: 279px;
    background-image: url("../../img/background-image-guitar-footer@1x.jpg");
    background-size: 868px 279px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-image-guitar-footer@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    width: 100%;
    height: 6px;
    background-color: $footer-background-color;
    background-repeat: no-repeat;
  }
}

.footer__container {
  margin-top: 61px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: $basic-white;
}

.footer__social {
  display: flex;
  flex-direction: column;
  margin-right: 123px;
}

.footer__logo {
  margin-bottom: 52px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list-item {
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-icon {
  fill: $basic-white;

  .footer__social-list-item a:hover & {
    fill: $basic-bright;
  }

  .footer__social-list-item a:active & {
    fill: $basic-bright;
    opacity: 0.5;
  }
}

.footer__info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 18px;
}

.footer__info-company {
  width: 140px;
  margin-right: 19px;
}

.footer__info-catalog{
  width: 145px;
  margin-right: 19px;
}

.footer__info-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 10px;
}

.footer__info-title-about {
  margin-bottom: 15px;
}

.footer__info-company p {
  font-size: 10px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 12px;
}

.footer__info-catalog-list,
.footer__info-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 2;
  letter-spacing: 0.1em;
}

.footer__info-catalog-list a,
.footer__info-list a,
.footer__contacts a {
  text-decoration: none;
  color: $basic-white;

  &:hover {
    color: $basic-bright;
  }

  &:active {
    color: $basic-bright;
    opacity: 0.5;
  }
}

.footer__contacts {
  margin-top: 18px;
  margin-left: auto;
  margin-right: 22px;
}

.footer__contacts p {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.footer__contacts-number {
  position: relative;
  padding-left: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("../../img/icon-phone.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }

  &:hover {
    color: $basic-bright;
  }

  &:active {
    color: $basic-bright;
    opacity: 0.5;
  }
}

.footer__contacts-time {
  position: relative;
  padding-left: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("../../img/icon-clock.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
}
