.main {
  flex: 1 0 auto;
}

.main__title {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 0.05em;

  &--cart {
    margin-top: 24px;
  }
}

.main__breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__breadcrumbs-item {
  margin-right: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    width: 13px;
    height: 8px;
    background-image: url("../../img/arrow-next.svg");
    background-size: 13px 8px;
    background-repeat: no-repeat;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.main__breadcrumbs-link {
  font-size: 16px;
  color: $basic-dark;
  text-decoration: none;

  &:hover {
    color: $basic-black;
  }

  &:active {
    color: $basic-black;
    opacity: 0.5;
  }
}

.main__catalog-wrapper {
  display: grid;
  grid-template-columns: 208px 700px;
  column-gap: 32px;
  margin-top: 51px;
}

.main__cart-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 32px;
}
