.main {
  flex: 1 0 auto;
}

.main__title {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 0.05em;

  &--cart {
    margin-top: 24px;
  }
}

.main__page-title-first,
.main__page-title-second,
.main__page-title-third {
  font-size: 16px;
  color: $basic-dark;
}

.main__page-title-first,
.main__page-title-second {
  margin-right: 40px;
}

.main__page-title-second,
.main__page-title-third {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -25px;
    width: 13px;
    height: 8px;
    background-image: url("../../img/arrow-next.svg");
    background-size: 13px 8px;
    background-repeat: no-repeat;
  }
}

.main__catalog-wrapper {
  display: grid;
  grid-template-columns: 208px 700px;
  column-gap: 32px;
  margin-top: 49px;
}

.main__cart-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 32px;
}
