.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  min-width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  line-height: 1.7;
  font-size: 12px;
  background-color: $basic-white;
  color: $basic-black;

  &.pagination__item--dots:hover {
    background-color: transparent;
    cursor: default;
  }

  &:hover {
    border-color: $dark;
    cursor: pointer;
  }

  &.selected {
    background-color: $dark;
    color: $basic-white;
    border: none;
  }

  &.disabled {
    pointer-events: none;
    display: none;
  }
}

.pagination__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 24px;
  border: none;
  background: none;
  letter-spacing: 0.05em;
  line-height: 1.7;
  font-family: $main-font;
  font-size: 12px;
  color: $basic-black;
}
