//Viewports

$large: 1366px;
$large-breakpoint: 1365px;
$max-content-breakpoint: 1259px;
$desktop: 1024px;
$desktop-breakpoint: 1023px;
$tablet: 768px;
$table-breakpoint: 767px;
$mobile: 320px;


//Project colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-text-color: #1F1E25;
$basic-bright: #2C36F2;
$background-color: #F6F7FF;
$dark: #394959;
$grey: #707C87;
$light: #E0E1EA;
$light-grey: #C1C2CA;
$line-color: #C4C4C4;
$red: red;
$light-text-color: #2B3C4F;


// Fonts

$main-font: "Roboto", "Arial", sans-serif;
