//Viewports

$large: 1020px;
$large-content-width: 940px;

//Project colors

$basic-white: #ffffff;
$basic-black: #000000;
$header-background-color: rgba(30, 9, 6, 0.15);
$basic-dark: #474747;
$bright: #f20505;
$footer-background-color: #3f3f3f;
$basic-bright: #E27F00;
$dark: #585757;
// $basic-text-color: #1F1E25;
// $basic-bright: #2C36F2;
// $background-color: #F6F7FF;
// $dark: #394959;
// $grey: #707C87;
// $light: #E0E1EA;
// $light-grey: #C1C2CA;
// $red: red;
// $light-text-color: #2B3C4F;


// Fonts

$main-font: "Droid Sans", "Arial", sans-serif;
